@import url(./../fonts/lato.css);
$borderColor: #CCC;
$radioColor: #000;
$fontpage: 'Lato', sans-serif;
$activeSelect: #0086ff;
$lightGrey: #f5f5f5;
$borderFocus: #0086ff;
$maxInputWidth: 620px;
$radiocolor1: #BA1417;
$radiocolor2: #F63030;
$radiocolor3: #FFA400;
$radiocolor4: #00E355;
$radiocolor5: #008811;

@font-face {
    font-family: "StencilNormal";
    src: url("../fonts/StencilNormal/StencilNormal.eot");
    src: url("../fonts/StencilNormal/StencilNormal.eot?#iefix")format("embedded-opentype"),
    url("../fonts/StencilNormal/StencilNormal.woff") format("woff"),
    url("../fonts/StencilNormal/StencilNormal.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote {
    &:before, &:after {
      content: '';
      content: none;
    }
}
q {
    &:before, &:after {
      content: '';
      content: none;
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #000000;
    }
}
.page-container {
    max-width: 1100px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    .header {
        padding: 25px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        .page-header {
            padding-right: 20px;
            font-size: 26px;
            line-height: 26px;
            font-weight: bold;
            // font-family: 'StencilNormal', sans-serif;
        }
        .logo {
            width: 80px;
            max-width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .info-block {
        padding: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .info-header {
            width: 100%;
            padding-bottom: 35px;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
        }
        .info-row {
            width: 50%;
            padding-right: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding-bottom: 5px;
            .info-label {
                font-size: 16px;
                line-height: 22px;
                width: 50%;
            }
            .info-value {
                font-size: 16px;
                line-height: 22px;
                width: 50%;
                font-weight: 800;
            }
        }
    }
    .grey-block {
        background: $lightGrey;
    }
    .questions-container {
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        div.question-row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            &.has-error {
                .answer {
                    input[type=text] {
                        border-color: red;
                    }
                }
            }
            .question {
                width: auto;
                padding-right: 20px;
            }
            .answer {
                padding: 0px;
                width: 70%;
                max-width: 150px;
                input[type=text] {
                    padding: 5px 10px;
                    border: 2px solid #000;
                    border-radius: 5px;
                    &:focus {
                        border-color: $borderFocus
                    }
                }
            }
        }
        .hidden-question {
            display: none;
        }
        .questions-group-description {
            background: $lightGrey;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 18px;
            font-style: italic;
            margin-top: 10px;
            ol {
                padding-top: 10px;
                padding-bottom: 20px;
                padding-left: 15px;
                list-style: decimal;
                li {
                    padding-bottom: 5px;
                }
            }    
        }
        .question-block {
            padding-bottom: 20px;
            padding-top: 10px;
            &.has-error {
                .question {
                    color: red;
                }
                input[type=text],
                textarea {
                    border-bottom-color: red;
                }
            }
            .question {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
            }
            .question-description {
                background: $lightGrey;
                padding: 10px 20px;
                font-size: 14px;
                line-height: 18px;
                font-style: italic;
                margin-top: 10px;
                max-width: $maxInputWidth;
            }
            .answer {
                padding-top: 10px;
            }
            input[type=text]{
                outline: none;
                border: none;
                padding: 10px;
                border-bottom: 2px solid $borderColor;
                width: 100%;
                font-size: 14px;
                line-height: 16px;
                max-width: $maxInputWidth;
                &:focus {
                    border-color: $borderFocus
                }
            }
            textarea {
                resize: none;
                outline: none;
                border: none;
                padding: 10px;
                border-bottom: 2px solid $borderColor;
                width: 100%;
                font-size: 14px;
                line-height: 16px;
                max-width: $maxInputWidth;
                min-height: 36px;
                &:focus {
                    border-color: $borderFocus
                }
                &::-webkit-scrollbar-track {
                    border-radius: 0px;
                    background-color: transparent;
                }
                &::-webkit-scrollbar {
                    width: 0px;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }
            }
            label {
                font-size: 14px;
                line-height: 16px;
            }
            .answer-radio {
                padding-top: 20px;
                padding-bottom: 10px;
                .radio-item {
                    padding-bottom: 10px;
                    padding-right: 20px;
                }
                input[type=checkbox],
                input[type=radio] {
                    display: none;
                    &:checked + label::before {
                        background: $borderFocus;
                        border-color: $borderFocus;
                    }
                    &:checked + label::after {
                        right: -10px;
                    }
                    & + label {
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-start;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 20px;
                            right: 100%;
                            bottom: -3px;
                            background: $borderFocus;
                            height: 2px;
                            transition: right 0.3s ease-in;
                        }
                    }
                    & + label::before {
                        content: "";
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        min-width: 15px;
                        min-height: 15px;
                        border: 1px solid $radioColor;
                        border-radius: 50%;
                        margin-right: 10px;
                        transition: all 0.3s ease-in;
                        cursor: pointer;
                    }
                }
            }
            .select-answer {
                max-width: $maxInputWidth;
            }
            .customselect-wrapper {
                .select-styled {
                    font-size: 16px;
                    line-height: 22px;
                    .selectvalue {
                        padding-bottom: 8px;
                        padding-top: 8px;
                        border-bottom: 2px solid #EEEFF3;
                        &:first-child {
                            padding-top: 0px;
                        }
                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0px;
                        }
                    }
                }
                .select-options {
                    li {
                        font-size: 16px;
                        line-height: 18px; 
                    }
                }
            }
            input.time-input {
                max-width: 200px;
            }
            .date-answer {
                max-width: 200px;
                position: relative;
                input.date-input {
                    padding-right: 35px;
                }
                .calendar {
                    position: absolute;
                    bottom: 7px;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    background: url(./../img/calendar.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
            .input-fieldset {
                position: relative;
                border: 1px solid $borderColor;
                border-radius: 5px;
                padding: 5px;
                padding-top: 8px;
                max-width: 200px;
                transition: border-color 0.3s ease-in;
                &.focusActive {
                    border-color: $borderFocus;
                }
                &.has-error {
                    border-color: red;
                    box-shadow: 0px 5px 13.5px 1.5px rgba(255, 0, 0, 0.2);
                }
                input[type=text] {
                    border: none;
                    outline: none;
                    &::placeholder {
                        color: #ffffff;
                    }
                }
                .input-label {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 600;
                    position: absolute;
                    top: 18px;
                    left: 10px;
                    background: #ffffff;
                    width: auto;
                    padding: 0px 5px;
                    transition: top 0.3s cubic-bezier(0.4, 0, 0.6, 1);
                    pointer-events: none;
                    &.inFocus {
                        top: -8px;
                    }
                }
            }
            .field-date {
                position: relative;
                input[type=text] {
                    padding-right: 35px;
                }
                .calendar {
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    background: url(./../img/calendar.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
            .field-time {
                position: relative;
                width: auto;
                display: inline-block;
                input[type=text] {
                    padding-right: 35px;
                }
                .clock {
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    background: url(./../img/clock.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
        }
    }
    .flex-50 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        & > div {
            width: 50%;
        }
        & > .question-block {
            &:first-child {
                padding-right: 20px;
            }
            &:last-child {
                padding-left: 20px;
            }
        }
    }
    .text-bold {
        font-weight: bold;
    }
    .flex-33 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        & > div {
            width: 33%;
        }
        & > .question-block {
            &:nth-child(1) {
                padding-right: 20px;
            }
            &:nth-child(3) {
                padding-left: 20px;
            }
        }
    }
    .flex-25 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        & > div {
            width: 25%;
        }
        & > .question-block {
            &:nth-child(1) {
                padding-right: 20px;
            }
            &:nth-child(1) {
                padding-right: 20px;
            }
            &:nth-child(3) {
                padding-right: 20px;
            }
        }
    }
    .time-error {
        width: 100% !important;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 10px;
        color: red;
        display: none;
    }
    .error {
        width: 100% !important;
        font-size: 14px;
        line-height: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: red;
        display: none;
    }
    .questions-group {
        padding-top: 35px;
        padding-bottom: 15px;
        .questions-group-name {
            max-width: 100%;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 22px;
            line-height: 24px;
            font-weight: 600;
            padding-bottom: 25px;
            position: relative;
            &::before {
                content: "";
                height: 2px;
                right: 10%;
                left: 0px;
                background: #000;
                margin-right: 10px;
                position: absolute;
            }
            span {
                background: #fff;
                display: inline-block;
                padding: 0px 10px;
                position: relative;
                z-index: 10;
                margin-left: 55px;
                margin-right: 55px;
                max-width: calc(90% - 100px);
            }
            // &::after {
            //     content: "";
            //     height: 2px;
            //     width: 125px;
            //     background: #000;
            //     margin-left: 10px;
            // }
        }
    }
    .submit-block {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        .btn-submit {
            padding: 15px 40px;
            font-size: 16px;
            line-height: 22px;
            max-width: 100%;
            text-align: center;
            display: inline-block;
            background-color: #1f2229;
            color: #ffffff;
            border: none;
            outline: none;
            border-radius: 30px;
            transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
            transition-property: color, background-color, border-color;
            cursor: pointer;
            text-transform: uppercase;
            &:hover {
                background: #626469;
                border-color: #626469;
            }
        }
    }
}
.customselect-wrapper {
    $background: #FEFDFD;
    $select-background: #FEFDFD;
    .checked {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 0.5px solid #C4C4C4;
        border-radius: 50%;
        margin-right: 5px;
        transition: all 0.3s ease-in;
        cursor: pointer;
        &.active {
            background: $borderFocus;
            border-color: $borderFocus;
        }
    }
    .text {
        display: inline-block;
        max-width: calc(100% - 20px);
    }
    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }
    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .select-styled {
        transition: all 0.2s ease-in;
        font-family: $fontpage;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        padding: 10px;
        border-bottom: 2px solid #CCC;
        width: 100%;
        transition: all 0.3s ease-in;
        padding-right: 40px;
        &:after {
            content:"";
            position: absolute;
            width: 12px;
            height: 7px;
            right: 10px;
            top: calc(50% - 2.5px);
            display: block;
            background: url(./../img/arrow-dropdown.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in;
        }
        &:hover {
            border-color: $borderFocus;
            &:after {
                background: url(./../img/arrow-dropdown-a.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &:active,
        &.active {
            border-color: $borderFocus;
            &:after {
                background: url(./../img/arrow-dropdown-a.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(180deg);
            }
        }
    }

    .select-options {
        display: none; 
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #ffffff;
        border-right: 1px solid #EEEFF3;
        border-left: 1px solid #EEEFF3;
        max-height: 150px;
        overflow: auto;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        li {
            margin: 0;
            transition: all 0.2s ease-in;
            font-family: $fontpage;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            padding: 8px;
            border-bottom: 2px solid #EEEFF3;
            display: flex;
            align-items: center;
            &:hover {
                border-color: $borderFocus;
            }
            &[rel="hide"] {
                display: none;
            }
        }
    }
}
.datepicker-panel {
    font-family: $fontpage;
}
.datepicker-top-left,
.datepicker-top-right {
    border-top-color: $activeSelect;
}
.popover.bottom>.arrow {
    border-bottom-color: $activeSelect;
    border-width: 5px;
}
.popover>.arrow:after {
    border-width: 5px;
}
.popover.bottom>.arrow:after {
    margin-left: -5px;
}
.popover.bottom {
    margin-top: 12px;
}
.clockpicker-popover {
    font-family: $fontpage;
    padding: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-color: $activeSelect;
    .popover-title {
        border-bottom: none;
        padding-bottom: none;
    }
    .popover-content {
        background: #ffffff;
    }
    .clockpicker-button {
        background: #000;
        color: #fff;
        border-radius: 6px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-width: 0px;
        transition-property: color, background-color, border-color;
        &:hover {
            background: #626469;
            border-color: #626469;
        }
    }
}
.radio-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
    .radio-cont {
        max-width: 20%;
        width: 20%;
        padding: 5px;
        input[type=radio] {
            display: none;
        }
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &::before {
                display: none;
            }
            cursor: pointer;
            .number {
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 20px;
                width: 35px;
                height: 35px;
                display: flex;
                align-content: center;
                justify-content: center;
                border: 2px solid #ffffff;
                border-radius: 50%;
                padding: 5px;
                transition: all 0.3s ease-in;
            }
            .text {
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #000;
                padding-top: 10px;
                max-width: 220px;
            }
        }
        &:nth-child(1){
            input[type=radio]:checked + label {
                .number {
                    border-color: $radiocolor1;
                    color: #ffffff;
                    background-color: $radiocolor1;
                }
            }
            label .number {
                border-color: $radiocolor1;
                color: $radiocolor1;
                cursor: pointer;
            }
        }
        &:nth-child(2){
            input[type=radio]:checked + label {
                .number {
                    border-color: $radiocolor2;
                    color: #ffffff;
                    background-color: $radiocolor2;
                }
            }
            label .number {
                border-color: $radiocolor2;
                color: $radiocolor2;
            }
        }
        &:nth-child(3){
            input[type=radio]:checked + label {
                .number {
                    border-color: $radiocolor3;
                    color: #ffffff;
                    background-color: $radiocolor3;
                }
            }
            label .number {
                border-color: $radiocolor3;
                color: $radiocolor3;
            }
        }
        &:nth-child(4){
            input[type=radio]:checked + label {
                .number {
                    border-color: $radiocolor4;
                    color: #ffffff;
                    background-color: $radiocolor4;
                }
            }
            label .number {
                border-color: $radiocolor4;
                color: $radiocolor4;
            }
        }
        &:nth-child(5){
            input[type=radio]:checked + label {
                .number {
                    border-color: $radiocolor5;
                    color: #ffffff;
                    background-color: $radiocolor5;
                }
            }
            label .number {
                border-color: $radiocolor5;
                color: $radiocolor5;
            }
        }

    }
}
.anket-info-block {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    .anket-info {
        padding-bottom: 5px;
    }
    .label {
        display: inline;
        padding-right: 5px;
    }
    .value {
        display: inline-block;
        font-weight: 800;
    }
}
.thanks-container {
    min-height: calc(100vh - 100px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .thanks-block {
        padding: 20px;
        background: $lightGrey;
        padding: 80px 30px 120px;
        width: 100%;
        position: relative;
        &.addBorder {
            &::before {
                right: 0px;
            }
            &::after {
                left: 0px;
            }
            .thanks-text {
                opacity: 1;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            height: 2px;
            left: 0px;
            right: 100%;
            background: $borderFocus;
            transition: all 0.5s ease-in;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 2px;
            left: 100%;
            right: 0px;
            background: $borderFocus;
            transition: all 0.5s ease-in;
        }
        .thanks-text {
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }
    }
    .thanks-text {
        color: $activeSelect;
        font-family: "StencilNormal";
        font-size: 56px;
        line-height: 62px;
        .bottom-text {
            font-size: 32px;
            line-height: 38px;        
        }
    }
}
@media screen and (max-width: 1100px) {
    .page-container .questions-group .questions-group-name {
        font-size: 16px;
        padding-bottom: 15px;
        &::before {
            right: 0px;
            height: 1px;
        }
        span {
            margin-left: 25px;
            margin-right: 25px;
            max-width: calc(100% - 50px);
        }
    }
    .page-container .questions-container .questions-group-description,
    .page-container .questions-container .question-block .question-description {
        font-size: 12px;
        line-height: 18px;
    }
    .page-container .questions-container .question-block .question,
    .page-container .questions-container .question-block .customselect-wrapper .select-styled,
    .page-container .questions-container .question-block .customselect-wrapper .select-options li {
        font-size: 14px;
        line-height: 18px;
    }
}
@media screen and (max-width: 992px) {
    .page-container .questions-container .question-block {
        padding-bottom: 10px;
    }
    .page-container .questions-group {
        padding-top: 15px;
    }
    .page-container .flex-25 > div {
        width: 33%;
    }
    .page-container .flex-sm-50 > div {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .page-container .info-block .info-row {
        width: 100%;
        padding-right: 0px;
    }
    .page-container .flex-33 {
        &.flex-sm-100 {
            & > div {
                width: 50%;
            }
            .question-block:nth-child(3) {
                padding-left: 0px;
            }
        }
    }
}
@media screen and (max-width: 520px) {
    .anket-info-block {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
    }
    .page-container .questions-group {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .page-container .flex-33 {
        &.flex-sm-100 {
            & > div {
                width: 100%;
                &:nth-child(1){
                    padding-right: 0px;
                }
            }
        }
    }
    .page-container .questions-container .questions-group-description,
    .page-container .questions-container .question-block .question-description {
        padding: 10px;
    }
    .page-container .questions-container .question-block .input-fieldset {
        max-width: 100%;
    }
    .page-container .info-block .info-row {
        flex-direction: column;
        padding-bottom: 5px;
        .info-label {
            width: 100%;
        }
        .info-value {
            width: 100%;
        }
    }
    .thanks-container {
        .thanks-block {
            padding: 50px 30px 50px;
        }
        .thanks-text {
            font-size: 32px;
            line-height: 48px;
            .bottom-text {
                font-size: 24px;
                line-height: 28px;        
            }
        }
    }
    .radio-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        .radio-cont {
            width: 33.3%;
            max-width: 33.3%;
        }
    }
    .page-container {
        .questions-container {
            padding-left: 15px;
            padding-right: 15px;
            .question-block {
                input.time-input {
                    max-width: 100%;
                }
                .date-answer {
                    max-width: 100%;
                }
                .answer {
                    label,
                    input[type=text] {
                        font-size: 12px;
                        line-height: 18px;
                    }
                    textarea {
                        font-size: 12px;
                        line-height: 18px;
                    }
                } 
            }
        }
        .flex-50 {
            & > div {
                width: 100%;
            }
            & > .question-block {
                &:first-child {
                    padding-right: 0px;
                }
                &:last-child {
                    padding-left: 0px;
                }
            }
        }
    }
    .page-container .questions-group .questions-group-name {
        &::before {
            right: 0px;
            height: 1px;
            width: 100%;
        }
        span {
            margin-left: 10px;
            margin-right: 10px;
            padding: 0px 5px;
            max-width: calc(100% - 30px);
        }
    }
}